<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>830593509917-c6teucjq2cbuk9rg4707n98m3ul43nsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830593509917-c6teucjq2cbuk9rg4707n98m3ul43nsh</string>
	<key>API_KEY</key>
	<string>AIzaSyAGg1FgCDLUVOm5uizxTzThd7P4D_Bicok</string>
	<key>GCM_SENDER_ID</key>
	<string>830593509917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shrutio.sampark</string>
	<key>PROJECT_ID</key>
	<string>sampark-6b80d</string>
	<key>STORAGE_BUCKET</key>
	<string>sampark-6b80d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830593509917:ios:40501167d635b19c</string>
	<key>DATABASE_URL</key>
	<string>https://sampark-6b80d.firebaseio.com</string>
</dict>
</plist>